<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneymate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/moneyapplogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyMate">
        <activity android:name=".Update_Account"
           android:parentActivityName=".income"
            />
        <activity
            android:name=".new_Account"
            android:label="New Account"
            android:parentActivityName=".income" />
        <activity android:name=".income"
            android:label =" MoneyMate">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>


        <activity android:name=".Update"></activity>


        <activity android:name=".add_new_expense" />
        <activity android:name=".Choose_category" />
        <activity android:name=".Select_Account" />
        <activity android:name=".TransactionList" />


        <activity android:name=".UpdateSavings"
            android:label="Update"
            android:parentActivityName=".Savings"
            />
        <activity android:name=".Fashion"
            android:label="Fashion"
            android:parentActivityName=".Budget" />

        <activity
            android:name=".Utility"
            android:label="Utility"
            android:parentActivityName=".Budget" />

        <activity android:name=".Transport"
            android:label="Transport"
            android:parentActivityName=".Budget" />

        <activity android:name=".Food"
            android:label="Food"
            android:parentActivityName=".Budget" />

        <activity android:name=".Savings"
            android:label="Future Savings"
            android:parentActivityName=".Savings"/>

        <activity
            android:name=".AddSavings"
            android:label="Add"
            android:parentActivityName=".Savings" />

        <activity android:name=".Budget"
            android:label="Budget"
            android:parentActivityName=".Budget"/>

        <activity android:name=".MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>